{% extends "base.html" %}

{% block content %}
<style>
    .flag {
        width: inherit;
    }
</style>
<div class="container bg-dark text-light">
    <div class="row align-items-center" style="text-align:center">
        <h1>Verbindungen:</h1>
    </div>
    {% for org in object_list %}
    <a href="/org/{{org.name}}">
        <div class="row align-items-center" style="text-align:center; outline-color: grey; outline-style:solid">
            <div class="col p-0">
                {{ org.getSVG|safe }}
            </div>
            <div class="col" style="font-size: 2em">
                {{ org.name }}
            </div>
            <div class="col p-0"">
                {{ org.getSVG|safe }}
            </div>
        </div>
    </a>
    <div class="mt-3">

    </div>
    {% endfor %}
</div>
{% endblock %}
